body {
	background-color: #eeeeee;
}

#container {
	box-sizing: border-box;
	max-width: 1280px;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
	margin: 0 auto;
	padding: 2%;

	
}

.carta-jogo-da-memoria {
	position: relative;
	box-sizing: border-box;
	margin-bottom: 3%;
	margin-right: 2%;
	width: 112px;
	height: 168px;
	perspective: 1000px;
}

.carta-frente, .carta-verso {
	position: absolute;
	box-shadow: 4px 4px 4px #8CCFB3;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-out;
  backface-visibility: hidden;
}

.carta-frente > img {
	width: 100%;
	display: block;
	
}

.carta-verso {
	background-image: url("resources/card-back.png"); 
	background-repeat: no-repeat;
	background-size: contain;
}

.carta-frente {
	transform: rotate3d(0, 1, 0, -180deg);
}

.carta-jogo-da-memoria.virado .carta-frente {
	transform: rotate3d(0, 1, 0, 0deg);
}

.carta-jogo-da-memoria.virado .carta-verso {
	transform: rotate3d(0, 1, 0, 180deg);
}

.success {
	border: solid black  10px;
}
/*
@media screen and (max-width: 1050px) {
	.carta-jogo-da-memoria {
		margin-bottom: 3%;
	}
}

@media screen and (max-width: 800px) {
	.carta-jogo-da-memoria {
		margin-bottom: 4%;
	}
}

@media screen and (max-width: 460px) {
	.carta-jogo-da-memoria {
		margin-bottom: 2%;
	}

}*/


